body {
    padding: 5vh 10vw;
    background-color: #06001B; 
}
div {
    border-radius: 1vw;
    background-color: #311F54;
    padding: 1vh 1vw;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin: auto;
    font-size: 1vw;
}
.header {
    text-align: center;
    letter-spacing: 1vw;
    font-size: 3.5vw;
    color: #06001B;
}
.header > p {
    background-image: url("https://wrcstrshr.netlify.app/logo.png");
    background-size: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0vh 5vw;
}
.il {
    display: inline-block;
}
.half {
    width: 47%;
}
.left {
    float: left;
}
.right {
    float: right;
}