body {
    padding: 5vh 10vw;
    background-color: #06001B; 
    margin-bottom: 10vh;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #06001B, #1B0A09)
}
div {
    border-radius: 1vw;
    background-color: #311F54;
    padding: 1vh 1vw;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 1rem;
    background-image: linear-gradient(to bottom, #311F54, #0F0626)
}
#oneko {
    border-radius: 0;
    background-color: #311F5400;
    padding: 0vh 0vw;
    margin: none;
    font-size: 10vw;
    height: inherit;
    background-image: none;
}
#evil-hover:hover span {
    display: none;
}
#evil-hover:hover:before {
    content: "I HATE CSS";
}
.hidecontent > * {
    opacity: 100%;
    transition: opacity 0.3s;
}
.hidecontent:not(:hover) > * {
    opacity: 0%;
    transition: opacity 0.3s;
}
::-webkit-scrollbar {
    background: linear-gradient(to bottom, #040014, #0F0605);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #110B1E, #1F0B0A);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #1A112D, #3D1614);
    border-radius: 15px;
}
.header + br + .contain ~ div {
    margin-top: 2vh;
}
.contain {
    border-radius: 1vw;
    padding: 0vh 0vw;
}
.row {
    border-radius: 1vw;
    padding: 0vh 0vw;
    display: flex;
    justify-content:stretch;
    background-image: none;
    background: none;
}
.row > div {
    flex-basis: 100%;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    height: inherit;
}
.flex-item:first-child {
    margin-left: 0vw;
    margin-right: 0.5vw;
}
.flex-item:last-child{
    margin-left: 0.5vw;
    margin-right: 0vw;
}
.header {
    text-align: center;
    letter-spacing: 1vw;
    font-size: 3rem;
    color: #06001B;
    background-color: none;
}
.subheader {
    text-align: center;
    letter-spacing: 1vw;
    font-size: 1.75rem;
    color: #06001B;
    background-color: #ffffff00;
    background-image: none;
}
.header > .header-text {
    background-image: url("https://wrcstrshr.netlify.app/logo.png");
    background-blend-mode: difference;
    background-size: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0vh 5vw;
    border-radius: 5rem 1rem;
    text-shadow: #fff 2px 2px, #fff 2px -2px, #fff -2px 2px, #fff -2px -2px;
}
.subheader > .header-text {
    background-image: url("https://wrcstrshr.netlify.app/logo.png");
    background-blend-mode: difference;
    background-size: 50vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 0vh 5vw;
    border-radius: 5rem 1rem;
    text-shadow: #fff 2px 2px, #fff 2px -2px, #fff -2px 2px, #fff -2px -2px;
    width: 75%;
    margin-left: 12.5%;
}
.fadeout {
    background: linear-gradient(to bottom, #311F5477, #0F062600);
}
.inl-b {
    display: inline-block;
}
.quart { 
    width: calc(97.5% / 4 - 2.25vw);
    margin-left: 0.75vw;
    overflow-wrap: break-word;
}
.fquart  {
    width: calc(97.5% / 4 - 2.25vw);
    margin-left: 0vw;
    overflow-wrap: break-word;
}
.half {
    width: 47%;
    overflow-wrap: break-word;
}
.full {
    width: 97.5%;
    overflow-wrap: break-word;
}
.left {
    float: left;
}
.right {
    float: right;
}
.decotext {
    text-align: center;
    font-size: 3rem;
	background: linear-gradient(to bottom, #110B1E, #3D1614);
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    letter-spacing: -2px;
    
}
.decocontain {
    background: none;
}
.decotextb {
    text-align: center;
    font-size: 3rem;
    margin-top: -6rem;
    letter-spacing: -2px;
}
.fancy-text {
	animation: fancyText 5s ease-in-out infinite;
	background: linear-gradient(-60deg, #bd3ce8, #bd3ce8, #f5f3f5, #bd3ce8, #f5f3f5);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500;
}
@keyframes fancyText {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
    100% {background-position: 200% 50%;}
}