body {
    background-color: #333;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 4.375rem 0rem;
}
.horiz-center {
    margin: auto;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.c0 {
    background-color: #101119;
}
.c1 {
    background-color: #181925;
}
.c2 {
    background-color: #4b0066;
}
.c5 {
    background-color: #f5f3f5;
}
.text-c2 {
    color: #4b0066;
    font-weight: 500;
}
.text-c4 {
    color: #bd3ce8;
    font-weight: 500;
}
.text-c5 {
    color: #f5f3f5;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}
.text-white-bg {
    background-color: #f5f3f5;
    color: #101119;
    width: calc(100% - 6.25rem);
    margin-left: 3.125rem;
}
.label {
    letter-spacing: 0.313rem;
    margin-left: 6.25rem;
    width: calc(100% - 200px);
}
.thin {
    font-weight: 10;
}
.thinspaced {
    letter-spacing: 0.063rem;
}
.footer-text {
    color: #393756;
    font-weight: 100;
}
.large-container {
    margin-top: 3.125rem;
    margin-bottom: 0rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;
    overflow: hidden;
}
.fancy-text {
	animation: fancyText 5s ease-in-out infinite;
	background: linear-gradient(-60deg, #bd3ce8, #bd3ce8, #f5f3f5, #bd3ce8, #f5f3f5);
	background-size: 300%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500;
}
@keyframes fancyText {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
    100% {background-position: 200% 50%;}
}
a {
	animation: linkText 5s ease-in-out infinite;
	background: linear-gradient(-60deg, #22aaa1, #22aaa1, #4ce0d2, #22aaa1, #4ce0d2);
	background-size: 300%;
    -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 800;
}
@keyframes linkText {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
    100% {background-position: 200% 50%;}
}
.youtube-link {
	animation: youtubeLink 6s ease-in-out infinite;
	background: linear-gradient(-60deg, #ff0000, #ff0000, #fff);
	background-size: 300%;
    -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500;
}
@keyframes youtubeLink {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 200% 50%;}
}
.github-link {
	animation: githubLink 6s ease-in-out infinite;
	background: linear-gradient(-60deg, #171515, #171515, #fff);
	background-size: 300%;
    -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500;
}
@keyframes githubLink {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 200% 50%;}
}
.twitch-link {
	animation: twitchLink 6s ease-in-out infinite;
	background: linear-gradient(-60deg, #6441ae, #6441ae, #fff);
	background-size: 300%;
    -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500;
}
@keyframes twitchLink {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 200% 50%;}
}
.twitter-link {
	animation: twitterLink 6s ease-in-out infinite;
	background: linear-gradient(-60deg, #1da1f2, #1da1f2, #fff);
	background-size: 300%;
    -webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 500;
}
@keyframes twitterLink {
	0% {background-position: 50% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 200% 50%;}
}
