body {
    background-color: #333;
}
.horiz-center {
    margin: auto;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.c0 {
    background-color: #101119;
}
.c1 {
    background-color: #181925;
}
.c2 {
    background-color: #4b0066;
}
.c5 {
    background-color: #f5f3f5;
}
.text-c5 {
    color: #f5f3f5;
}
.large-container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#body {
    font-family: verdana;
    padding: 70px 100px;
}
